<div *ngIf="employee" class="detail">
    <fieldset>
            <legend>{{ employee.id }}</legend>
            First name: {{ employee.first_name }} <br>
            Middle name: {{ employee.middle_name }} <br>
            Last name: {{ employee.last_name }} <br>
            Address: {{ employee.address_line }} <br>
            Postcode: {{ employee.postcode }} <br>
            Email: {{ employee.email }} <br>
            NIN: {{ employee.nin }} <br> 
            Bank Sort Code: {{ employee.bank_sort_code }} <br>
            Bank Account Number: {{ employee.bank_account_no }} <br>
            Salary: {{ employee.salary }} <br>
            Department: {{ employee.department_id }} <br>
    </fieldset>
</div>
