<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="page-title">
    Employees System
  </h1>
</div>

<div class="container">
  <ngb-tabset>
    <ngb-tab title="List">
      <ng-template ngbTabContent>
        <employee-list></employee-list>
        <employee-detail></employee-detail>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Add">
        <ng-template ngbTabContent>
          <!-- <city-add-city></city-add-city> -->
        </ng-template>
      </ngb-tab>

    <ngb-tab title="Departments">
      <ng-template ngbTabContent>
        <department-list></department-list>
        <department-employees></department-employees>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>


</div>


